
/*  your css code here. If applicable */
body {
	background-color: #f8f8f8;
}

h2 {
	text-align: center;
}

.book-library {
	width: 400px;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
}

.book {
	background-color: #f8f8f8;
	bordeR: 1px solid black;
	margin: 30px
}

img {
	display: block;
	margin: 10px auto;
}
.author {
	color: #777777;
}

p {
	text-align: left;
	padding-left: 4px;
}

button {
	width: 90%;
	padding: 5px;
	display: block;
	margin: 10px auto;
	color: white;
	background-color: #2ecc71;
	border: none;
	border-radius: 5px;
}